#NewsArena{
    padding: 5px;
   
}

.card{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color:antiquewhite;
    font-size: 110%;
    /* display: flex;
    flex-direction: row; */
}

.Header{
    padding: 20px;
    padding-left: 30px;
}

.Header a{
    text-decoration: none;
    color: blue;
    cursor: pointer;
    margin-left: 25px;
    display: inline-block;
    width: 99%;
}

.Header a:hover{
    color: rgb(1, 1, 190);
}

.card2{
    background-color: white;
    padding: 10px;
    padding-left: 50px;
    font-size: 80%;
    
}

.navbar-brand{
    margin-left: 10px;
}

#indexid{
    left: 20px;
    position: absolute;
}

.index2{
    right: 30px;
    position: absolute;
    font-size: 200%;
    bottom: 10px;
    color: black;
}
.btnnav{
    border: 2px solid black;
    border-radius: 12px;
    margin-right: 22px;
    background-color: grey;
}

.btnnav a{
    color: white;
    text-decoration: none;
    padding: 10px;
    padding-top: 5px;
}

.btnnav:hover{
   background-color: rgb(105, 110, 114);
}

.btnnav{
    width: 100px;
    height: 40px;
}
